<h1>Login</h1>
<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<%= form_tag login_path, id: "login-form", method: "Post", class: "form-horizontal col-md-6" do %>
  <div class="form-group">
    <%= text_field_tag :email, nil, placeholder: "Email", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= password_field_tag :password, nil, placeholder: "Password", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= submit_tag "Login", class: "btn btn-primary" %>
  </div>
<% end %>
